<div align="center">
  <header>
    <img width="450" height="130" alt="Heazy Logo" src="assets/design2.png">
  </header>

  <body>
    <div class="card-panel">
        Cadastro
        <div class="row">
            <div class="input-field col s12">
              <input id="nomedeusuario" type="text" class="validate">
              <label for="nomedeusuario">Nome de Usuário</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div align="left">
              <a class="waves-effect waves-light btn green"  routerLink="..">Cadastre-se</a>
          </div>
    </div>
  </body>
</div>