<div align="center">
    <div class="card-panel">
      Especialidade:<div class="input-field col s6">
          <i class="material-icons prefix">assignment</i>
          <input  id="especialidade" type="text" class="validate">
          <label for="especialidade">Especialidade</label>
        </div>
      Dia:<div class="input-field col s6">
          <i class="material-icons prefix">event</i>
          <input  id="dia" type="text" class="validate">
          <label for="dia">Dia</label>
        </div>
      Hora: <div class="input-field col s6">
          <i class="material-icons prefix">alarm</i>
          <input  id="hora" type="text" class="validate">
          <label for="hora">Hora</label>
        </div>
        <div align="left"><a class="waves-effect waves-light btn blue" routerLink="/menu/consultas">Marcar Consulta!</a></div>
    </div>
</div>
