<div align="center">
    <table>
        <thead>
            <tr>
                <th>Especialidade</th>
                <th>Dia</th>
                <th>Hora</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Cardiologia</td>
                <td>12/12</td>
                <td>8:00</td>
            </tr>
            <tr>
                <td>Dermatologia</td>
                <td>26/12</td>
                <td>18:00</td>
            </tr>
            <tr>
                <td>Odontologia</td>
                <td>02/01</td>
                <td>16:00</td>
            </tr>
        </tbody>
        <div align="left"><a class="waves-effect waves-light btn blue" routerLink="/menu/editar" >Marcar Consulta!</a></div>
    </table>
</div>