<div align="center">
    <div class="card-panel">
        Dados Do Usuário
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="assets/Logoppo.png" width="50" height="50" alt="Logo" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <span class="black-text">
                        Usuário: Fulano<br />
                        Senha: 12345fulano
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>