<div align="center">
  <header>
    <img  width="450" height="130" alt="Heazy Logo" src="assets/design2.png">
  </header>
  <body>
    <div class="card-panel">
      Login
      <div class="row">
        <div class="input-field col s12">
          <input  id="nomedeusuario" type="text" class="validate">
          <label for="nomedeusuario">Nome de Usuário</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div align="left">
        <a class="waves-effect waves-light btn green"  routerLink="/menu/home">Entrar</a> Não tem uma conta?
        <a class="waves-effect waves-light btn green" routerLink="/cadastro">Cadastre-se</a>
      </div><br/>
      <div align="left"> 
        <a class="waves-effect waves-light btn blue"><i class="material-icons">add</i>Entre com sua conta Google</a>
      </div><br/>
    <div align="right"> 
      <a class="waves-effect waves-teal btn-flat">Sou um Administrador</a>
    </div>
  </div>
    </body>
</div>
