<div>
<nav>
  <div class="nav-wrapper">
    <a href="/menu/home" class="brand-logo center"><img width="300" height="105" alt="Heazy Logo" src="assets/design.png"></a><br/>
    <ul class="center hide-on-med-and-down">
      <li><a href="/menu/home">Home</a></li>
      <li><a href="/menu/paciente">Paciente</a></li>
      <li><a href="/menu/lista-paciente">Lista Paciente</a></li>
      <li><a href="/menu/consultas">Consultas</a></li>
      <li><a href="/menu/lista-consulta">Lista Consulta</a></li>
      <li><a href="..">Sair</a></li>
    </ul>
  </div>
</nav>
</div>
<router-outlet></router-outlet>