<div align="center">
<h2 class="header">Bem Vindo Ao</h2>
</div>

<div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/design2.png"> <!-- random image -->
        <div class="caption center-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="assets/design.png"> <!-- random image -->
        <div class="caption left-align">
          <h3></h3>
          <h5 class="light grey-text text-lighten-3"></h5>
        </div>
     </li>
    </ul>
  </div>